In [11]:
import pandas as pd

data1 = {"Emp ID":["E01", "E02", 'E03', 'E04', 'E05', 'E06'],
         "Name": ["Ali", 'John', 'Mike', 'Alen', 'Maaz', 'Roy'],
         'Age':[20, 25, 30, 24, 34, 28]}

data2 = {"Emp ID":["E01", "E07", 'E03', 'E04', 'E08', 'E06'],
         "Salary":[20000, 27000, 30000, 26000, 31000, 29000]
        }

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp ID  Name  Age
0    E01   Ali   20
1    E02  John   25
2    E03  Mike   30
3    E04  Alen   24
4    E05  Maaz   34
5    E06   Roy   28

  Emp ID  Salary
0    E01   20000
1    E07   27000
2    E03   30000
3    E04   26000
4    E08   31000
5    E06   29000

In [12]:
# Merge                                            
# LeftJoin -> A LEFT JOIN returns all records from the left table and only the matching records from the right table. 
# If there is no match, it returns NULL for the right table's columns.

print(pd.merge(left = df1, right = df2, on="Emp ID", how="left"))

  Emp ID  Name  Age   Salary
0    E01   Ali   20  20000.0
1    E02  John   25      NaN
2    E03  Mike   30  30000.0
3    E04  Alen   24  26000.0
4    E05  Maaz   34      NaN
5    E06   Roy   28  29000.0

In [13]:
# A RIGHT JOIN returns all records from the right table and only the matching records from the left table. 
# If there is no match, it returns NULL for the left table's columns.

print(pd.merge(left = df1, right = df2, on="Emp ID", how="right"))

  Emp ID  Name   Age  Salary
0    E01   Ali  20.0   20000
1    E07   NaN   NaN   27000
2    E03  Mike  30.0   30000
3    E04  Alen  24.0   26000
4    E08   NaN   NaN   31000
5    E06   Roy  28.0   29000

In [14]:
# Inner Join -> In an INNER JOIN, you get only the common values (matching records) from both tables based on the specified condition.
# If a row from either table doesn’t have a match in the other table, it won’t be included in the result.

print(pd.merge(left = df1, right = df2, on="Emp ID", how="inner"))

  Emp ID  Name  Age  Salary
0    E01   Ali   20   20000
1    E03  Mike   30   30000
2    E04  Alen   24   26000
3    E06   Roy   28   29000

In [3]:
# Concatenate

import pandas as pd

data1 = {"Emp ID":["E01", "E02", 'E03', 'E04', 'E05', 'E06'],
         "Name": ["Ali", 'John', 'Mike', 'Alen', 'Maaz', 'Roy'],
         'Age':[20, 25, 30, 24, 34, 28]}

data2 = {"Emp ID":["E07", "E08", 'E09', 'E10', 'E11', 'E12'],
         "Name": [" Emma", 'Noah', 'Lucas', 'Jack', ' Sophia', 'Ethan'],
         'Age':[20, 25, 30, 24, 34, 28]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [4]:
print(pd.concat([df1,df2]))

  Emp ID     Name  Age
0    E01      Ali   20
1    E02     John   25
2    E03     Mike   30
3    E04     Alen   24
4    E05     Maaz   34
5    E06      Roy   28
0    E07     Emma   20
1    E08     Noah   25
2    E09    Lucas   30
3    E10     Jack   24
4    E11   Sophia   34
5    E12    Ethan   28